@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Amatic+SC:wght@400;700&display=swap');

@media screen and (min-width: 600px) {

    body {
        margin: 0;
        font-family: 'Amatic SC';
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 3.063vw;
        background-color: #5B4A58;
    }

    .info {
        display: flex;
    }

    .header_left {
        display: flex;
        margin-top: 0.563vw;
        height: 1.375vw;
        margin-right: 6.525vw;
        align-items: center;
    }

    .target {
        display: flex;
        width: 0.875vw;
        height: 1.188vw;
    }

    .address {
        display: flex;
        align-items: center;
        margin-left: 0.625vw;
        font-size: 1.25vw;
    }

    .city {
        color:#6AAE55;
    }

    .street {
        color: #ffffff;
        margin-left: 0.625vw;
    }

    .header_center {
        justify-content: center;
        width: 20.75vw;
        display: flex;
        background-color: #6d5b6a;
    }

    .handset {
        margin-top: 0.938vw;
        width: 1.25vw;
        height: 1.25vw;
    }

    .container_number{
        display: flex;
        flex-direction: column;
        margin-left: 1.563vw;
        margin-top: -2.188vw;
    }

    .whatsapp {
        font-size: 1.063vw;
        color: #ffffff;
    }

    .number {
        margin-top: 0;
        font-size: 1.25vw;
        color: #ffffff;
    }

    .header_right {
        margin-left: 7.5vw;
    }

    .header_right a {
        text-decoration: none;
    }

    .infocart {
        position: relative;
        margin-top: 0.563vw;
        height: 1.375vw;
    }

    .sum {
        color: #ffffff;
        font-size: 1.25vw;
        margin-left: 0.75vw;
        line-height: 1.375vw;
        position: absolute;
        top: 0.938vw;
        transform: translateY(-50%);
    }

    .navbar {
        display: flex;
        height: 6.875vw;
        justify-content: center;
        color: #5B4A58;
        font-size: 1.25vw;
    }

    .navbar_left {
        padding: 2.5vw;
    }

    .navbar_left a {
        text-decoration: none;
        color: inherit;
        margin: 0 2.5vw;
    }

    .navbar_logo {
        height: 5.313vw;
        left: 56.5vw;
    }

    .navbar_logo img {
        height: 5.313vw;
    }

    .dropbtn {
        font-family: 'Amatic SC';
        background-color: #ffffff;
        color: #5B4A58;
        padding: 2.5vw;
        font-size: 1.25vw;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        top: 4.688vw;
        left: 2.188vw;
        color: #5B4A58;
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 10vw;
        z-index: 1;
    }


    .dropdown-content a {
        color: #5B4A58;
        padding: 0.75vw 1vw;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {display: block;}

    .navbar_userpick {
        padding: 2.5vw 0 0 2.5vw;
        margin-right: 0;
    }

    .navbar_right {
        padding: 2.5vw 2.5vw 0 0;
    }

    .navbar_right a {
        text-decoration: none;
        margin: 0 0.5vw;
    }

    .header__line {
        display: none;
    }
}

@media screen and (max-width: 599px) {

    body {
        margin: 0;
        font-family: 'Amatic SC';
    }

    .header {
        display: flex;
        background-color: #5B4A58;
    }

    .info {
        display: none;
    }

    .header_left {
        display: flex;
        margin-top: 1.503vw;
        height: 3.673vw;
        margin-right: 17.362vw;
        align-items: center;

    }
    .target {
        display: flex;
        width: 2.337vw;
        height: 3.172vw;
    }

    .address {
        display: flex;
        align-items: center;
        margin-left: 1.669vw;
        font-size: 3.339vw;
    }

    .city {
        color:#6AAE55;
    }

    .street {
        color: #ffffff;
        margin-left: 1.669vw;
    }

    .header_center {
        padding: 1.25vw 4.688vw;
    }

    .handset {
        margin-top: 2.504vw;
        width: 3.339vw;
        height: 3.339vw;
    }

    .container_number{
        display: flex;
        flex-direction: column;
        margin-left: 4.174vw;
        margin-top: -5.843vw;
    }

    .whatsapp {
        font-size: 2.838vw;
        color: #ffffff;
    }

    .number {
        margin-top: 0;
        font-size: 2.838vw;
        color: #ffffff;
    }

    .header_right {
        width: 36.278vw;
    }

    .header_right a {
        text-decoration: none;
    }

    .infocart {
        display: flex;
        margin-left: 20vw;
        align-items: center;
    }

    .sum {
        color: #ffffff;
        font-size: 4.375vw;
        margin-left: 2.003vw;
        line-height: 4.375vw;
        letter-spacing: 0.625vw;
        position: absolute;
    }

    .navbar {
        display: none;
    }

    .header__line {
        width: 0.313vw;
        background-color: #A29BB4;
        margin: 2.188vw 0;
    }
}
